.home-container {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;

  margin-top: 30px;
  background-color: #413232;
  text-align: center;

  .title {
    color: #f5f5dc;
  }
}
