.popup {
  font-size: 14px;
  max-width: 200px; /* Limit width of popup */
}

.popup {
  .title {
    color: #ff5722; /* Customize header color */
  }
}

.leaflet-container {
  background-color: rgba(255, 0, 0, 0);
}

.map-container {
  width: 800px;
  height: 700px;
  margin-top: 70px;
}

@media (max-width: 900px) {
  .map-container {
    width: 100%;
    height: 100%;
  }
}
