.apod-container {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;

  margin-top: 30px;
  background-color: #413232;

  img {
    max-width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  text-align: center;
  .title {
    color: #f5f5dc;
  }
}

.content-loader {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 900px) {
  .apod-container {
    text-align: left;
  }
}
